<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/index.css" charset="utf-8">
        <link rel="stylesheet" href="/auto-complete.css" charset="utf-8">
        <!-- <script type="text/javascript" src="/media_objects.js"></script> -->
    <title>NFP | Media Search Tool</title>
    <script>
    window.onload = function(){
        let urlParams = new URLSearchParams(window.location.search);

        document.getElementById('cancelButton').setAttribute("onclick", `window.location.href = '/index?${urlParams}';`);
    };
    </script>
</head>
<body>
    <div class="div_body">
        <div class="div_main_container">
            <div class="div_sub_container">
                <div class="logo_container">
                    <img src="https://internal.nfp.com/webfiles/public/2015/emails/pardot-templates/images/nfp-logo-green-cmyk-150px.png" alt="NFP" style="border: none; display: block;"/>
                </div>
                <div class="search_container">
                    <div class="div_headline">
                        NFP Media Search
                    </div>
                </div>
                <form method="GET" action="/index">
                <div class="search_container">
                    <div class="search_box">
                        <input type="text" autofocus id="nfpSearchInput" name="add" value="" class="nfpSearchBoxInput" placeholder="Search Video Tags" />
                        <a class="nfpSearchIcon" href=""><input type="image" name="submit" width="20" src="https://webfiles2.nfp.com/webfiles/public/mg/icon-search-mobile.png" alt="Search" class="img-responsive" style="display: block; margin: auto;" /></a>
                    </div>
                </div>
                <div class="pagination_container">
                    <font style="color: #303030;"><strong>1-25</strong> |</font> 26-50 <font style="color: #000000;">|</font> 51-75
                </div>
                <div class="tags_container" id="tags_container">
                </div>
                </form>
                <form action="/update/<%= videoRecord[0].videoID %>" method="POST">
                <input type="hidden" name="videoID" value="<%= videoRecord[0].videoID %>">
                <input type="hidden" name="videoTags" value="<%= videoRecord[0].videoTags %>">
                <table class="table_sort" id="tableVideoList">
                    <tr class="table_sort_header">
                        <td>Name</td>
                        <td>Type</td>
                        <td>Added</td>
                        <td>Tags</td>
                        <td>Length</td>
                        <td>Description</td>
                        <td>URL</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="videoName" value="<%= videoRecord[0].videoName %>"></td>
                        <td><select name="videoType">
                            <% if (videoRecord[0].videoType === "video") { %>
                            <option selected value="video">video</option>
                            <% } else { %>
                            <option value="video">video</option>
                            <% } %>
                            <% if (videoRecord[0].videoType === "audio") { %>
                                <option selected value="audio">audio</option>
                            <% } else { %>
                                <option value="audio">audio</option>
                            <% } %>
                            <% if (videoRecord[0].videoType === "image") { %>
                                <option selected value="image">image</option>
                            <% } else { %>
                                <option value="image">image</option>
                            <% } %>
                        </select></td>
                        <td><input type="text" name="videoAdded" value="<%= videoRecord[0].videoAdded %>"></td>
                        <td><% let stringTags = videoRecord[0].videoTags; %>
                            <% stringTags = stringTags.toString(); %>
                            <% let splitTags = stringTags.split(","); %>
                            <% for (let i=0; i<splitTags.length; i++) { %>
                                <button name="videoTags" value="<%= splitTags[i] %>"><%= splitTags[i] %>&nbsp;<a href="">X</a></button>
                            <% } %>
                            </td>
                        <td><input type="text" name="videoLength" value="<%= videoRecord[0].videoLength %>"></td>
                        <td><textarea name="videoDesc"><%= videoRecord[0].videoDesc %></textarea></td>
                        <td><input type="text" name="videoURL" value="<%= videoRecord[0].videoURL %>">
                            <br /><a href="<%= videoRecord[0].videoURL %>" target="_blank"><%= videoRecord[0].videoURL %></a></td>
                    </tr>
                    <tr>
                        <td colspan="7" align="center"><input type="submit" value="Update">&nbsp;<input type="button" id="cancelButton" value="Cancel" /></td>
                    </tr>
                </table>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/auto-complete.js"></script>
    <script>
        var demo1 = new autoComplete({
            selector: '#nfpSearchInput',
            minChars: 1,
            source: function(term, suggest){
                term = term.toLowerCase();
                var choices = [`animation`, `interview`, `serious`, `comedic`, `instructional`, `Kim Davis`, `Doug Hammond`, `Addiction Treatment`, `Mike Goldman`, `Breweries`, `Cemeteries & Memorial Parks`, `Chemical`, `Clubs & Golf Courses`, `Communications, Media & Technology`, `Condominium Homeowners`, `Construction`];
                var suggestions = [];
                for (i=0;i<choices.length;i++)
                    if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                suggest(suggestions);
            }
        });
    </script>
</body>
</html>